<main class="container mx-auto p-6">
  <app-products-header
    (columnsCountChange)="onColumnsCountChange($event)"
    (itemsCountChange)="onItemsCountChange($event)"
    (sortChange)="onSortChange($event)"
    (showCategory)="onShowCategory($event)"
  />
  <mat-grid-list
    *ngIf="products && products.length"
    gutterSize="24"
    [cols]="cols"
    [rowHeight]="rowHeight"
  >
    <mat-grid-tile *ngFor="let product of products">
      <app-products-box
        class="w-full"
        (addToCart)="onAddToCart($event)"
        [product]="product"
        [fullWidthMode]="cols === 1"
      >
      </app-products-box>
    </mat-grid-tile>
  </mat-grid-list>
</main>
