<mat-card *ngIf="product" [ngClass]="{ 'text-center': !fullWidthMode }" class="mat-elevation-z6 p-4">
  <img
    [src]="product.image"
    [attr.alt]="product.description"
    [ngClass]="{ 'h-[220px]': !fullWidthMode, 'h-[300px]': fullWidthMode }"
    class="w-full object-contain"
  />

  <mat-card-content>
    <mat-card-subtitle>
      {{ product.category | titlecase }}
    </mat-card-subtitle>
    <p
      class="hover:whitespace-normal pb-4 transition-all ease-in-out"
      [ngClass]="{truncate: !fullWidthMode}"
    >
      {{ product.title}}
    </p>
    <p *ngIf="fullWidthMode"> {{ product.description }} </p>
  </mat-card-content>
  <mat-card-actions>
    <div class="flex justify-between w-full">
      <span class="text-indigo-500">
        {{ product.price | currency: 'BRL' }}
      </span>
      <button (click)="onAddToCart()" mat-mini-fab color="primary">
        <mat-icon class="text-neutral-50">shopping_cart</mat-icon>
      </button>
    </div>
  </mat-card-actions>

</mat-card>
