<mat-card
  *ngIf="cart.items.length"
  class="maw-w-7xl mx-auto"
>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8 w-full">
    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>Produto</th>
      <td mat-cell *matCellDef="let element">
        <img
          [src]="element.product"
          alt="product"
          class="w-[100px] my-5"
        >
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button
        mat-raised-button
        routerLink="/home"
        >
          Continue comprando
        </button>
      </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>
        Nome
      </th>
      <td mat-cell *matCellDef="let element">
        <p>{{element.name}}</p>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef>Preço</th>
      <td mat-cell *matCellDef="let element">{{ element.price | currency: 'BRL' }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="quantity">
      <th mat-header-cell *matHeaderCellDef>Quantidade</th>
      <td mat-cell *matCellDef="let element">
        <div class="flex items-center gap-1">
          <button mat-icon-button (click)="onRemoveFromCart(element)">
            <mat-icon>remove</mat-icon>
          </button>
          <span>{{element.quantity}}</span>
          <button mat-icon-button (click)="onAddQuantity(element)">
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let element">
        {{ element.quantity * element.price | currency: 'BRL' }}
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <span class="font-bold py-5 block">
          {{ getTotal(cart.items) | currency: 'BRL'}}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef>
        <button
          class="float-right"
          mat-raised-button
          color="warn"
          (click)="onClearCart()"
        >
          Esvaziar carrinho
        </button>
      </th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-mini-fab
          color="'warn"
          class="float-right"
          (click)="onRemoveFromCart(element)"
        >
            <mat-icon>close</mat-icon>
        </button>
      </td>
      <td mat-footer-cell *matFooterCellDef>
        <button
          mat-raised-button
          color="primary"
          class="float-right"
          (click)="onCheckout()"
        >
          Finalizar
        </button>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>
</mat-card>
<mat-card
   *ngIf="!cart.items.length"
   class="mx-auto my-3 max-w-7xl p-4"
  >
  <span class="flex gap-2 items-center">
    Seu carrinho está vazio
    <button
      routerLink="/home"
      mat-stroked-button
      color="primary"
    >
    Ir às compras
  </button>
  </span>
</mat-card>
